.error-alert {
    position: absolute;
}

.circle-icon {
    width: 200px;
    height: 200px;
    font-size: 200px;
    margin: 40px 20px 20px;
}

.input-height {
    margin-bottom: 6px;
    height: 45px !important;
}

.error-msg {
    position: absolute;
    margin: 44px 5px;
    font-size: 12px;
    color: red;
}

.dashboard-header {
    margin: 20px;
}

.modal-class {
    position: absolute;
}